$primary-color: #444;
$secondary-color: #1eff0081;
$show-home-image: true;
$home-image: url(../img/background.png);
$background-opacity: 0.7;

// como se fosse uma funcao
@mixin easeOut{

    // ao colocar o mouse sobre os icones, eh dado um efeito de fade in em 0.8 segundos
    transition: all 0.8s ease-out;
}

@mixin background{
    @if $show-home-image{
        &#bg-img{
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            // camada que fica a frente da imagem, cobrindo toda a viewport
            // o after indica que vem depois do elemento body#bg-img
            &:after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                // z index -1 para que o texto fique a frente da camada
                z-index: -1;
                background: rgba($primary-color,$background-opacity);
            }
        }
    }
}

// media query mixins

// conteudo para telas com tamanho maximo de 500px
@mixin mediaSm{
    @media screen and (max-width: 500px){
        @content;
    }
}

// conteudo para telas com tamanho maximo de 768px
@mixin mediaMd{
    @media screen and (max-width: 768px){
        @content;
    }
}

// conteudo para telas entre 769px e 1170px
@mixin mediaLg{
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content;
    }
}

// conteudo para telas com no minimo 1171px ou maiores
@mixin mediaXl{
    @media screen and (min-width: 1171px){
        @content;
    }
}