// importanto a partial que contem as variaveis e funcoes scss
@import 'config';
@import 'menu';

// o asterisco serve para todo conteudo da pagina
* {
    box-sizing: border-box;
}

body{
    @include background();
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // espaco entre as linhas
    line-height: 1.5;
}

// headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    
    // 1 rem = 16px por padrao do html, 6rem = 6*16 = 96px
    // &.class representa a classe no h1, poderia ser, h1.lg-heading{} fora do h3
    &.lg-heading{
        font-size: 6rem;
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a{
    color: #fff;
    text-decoration: none;
}

header{
    // estara sempre no topo
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: $secondary-color;
}

main{
    padding: 4rem;
    //height: 100%;
    // para se ter um rodape fixo embaixo, no caso 60px eh a altura que determinamos do footer
    min-height: calc(100vh - 60px);

    .icons{
        margin-top: 1rem;

        a{
            padding: 0.4rem;

            &:hover{
                color: $secondary-color;
                // chamando a funcao easeOut
                @include easeOut();
            }
        }
    }

    &#home{
        // remove scroll bars
        overflow: hidden;
        // vh = viewport height
        h1{
            margin-top: 20vh;
        }
    }
}

.about-info{
    display: grid;
    // define um espaco entre as grids
    grid-gap: 30px;
    grid-template-areas: 
        'bioimage bio bio'
        'job1 job2 job3';
    // significa que sera dividida em 3 fracoes iguais, 3 divs iguais
    grid-template-columns: repeat(3, 1fr);

    .bio-image{
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: solid 3px $secondary-color;
    }
    
    .bio{
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1{
        grid-area: job1;
    }
    
    .job-2{
        grid-area: job2;
    }
    
    .job-3{
        grid-area: job3;
    }
    
    .job{
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: solid 5px $secondary-color;
    }
}

// work-projects

.projects{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;

    img{
        width: 100%;
        border: solid 3px #fff;

        &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut();
        }
    }
}

// contact page

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div{
        font-size: 2rem;
        border: 3px solid #fff;
        // quando se declara 2 valores , o primeiro eh para top and bottom e o segundo eh para right and left
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut();

        &:hover{
            padding: 0.5rem 2rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);

            span{
                color: set-text-color($secondary-color);
            }
        }
    }
}

// button styles

.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover{
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark{
    // extendeu as configuracoes da classe btn para essa
    @extend .btn;
    background: darken($primary-color,50);
    color: #fff;
}

.btn-light{
    // extendeu as configuracoes da classe btn para essa
    @extend .btn;
    background: lighten($primary-color,50);
    color: #333;
}

#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color,10);
    color: set-text-color($primary-color);
    height: 60px;
}

// precisa estar embaixo de tudo pois queremos que as medias queries executem depois de todo css
@import 'mobile';